In [ ]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'variable': ['var1', 'var2', 'var3', 'var4', 'var5'],
                   'units': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5'],
                   'value': [1, -2, 3, -4, 5]})

# define a function to highlight rows where 'value' < 0
def highlight_negative(value):
    if value < 0:
        return 'background-color: green'
    else:
        return ''

# apply the function to the DataFrame
highlighted_df = df.style.applymap(highlight_negative, subset=['value'])

# display the highlighted DataFrame
highlighted_df

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'baseline': [10, 20, 30],
    'e-cooking': [5, 25, 15],
    'delta': [5, -5, 15]
})

# Define a function to highlight cells
def highlight_delta(x):
    c1 = 'background-color: red'
    c2 = ''
    m1 = x['baseline'] > x['e-cooking']
    df1 = pd.DataFrame(c2, index=x.index, columns=x.columns)
    df1['delta'] = np.where(m1, c1, c2)
    return df1

# Apply the function to the DataFrame
df.style.apply(highlight_delta, axis=None)

In [ ]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'Variable': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Units': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5', 'unit6'],
    'Baseline': [10, 15, 12, 18, 20, 22],
    'e-Cooking': [12, 14, 13, 17, 18, 20],
    'Delta': [2, 1, 1, 1, 2, 2]
})

# create a function that takes in a dataframe and returns a styled dataframe
def highlight_dataframe(df):
    # create a style object with green background for rows where Baseline > e-Cooking
    # and for rows where Baseline < e-Cooking in rows 2 and 3
    style = df.style.apply(lambda x: ['background: green' if x.Baseline > x['e-Cooking'] 
                                      else 'background: green' if x.name in [1, 2] and x.Baseline < x['e-Cooking']
                                      else '' for i in x], axis=1)
    # return the styled dataframe
    return style

# call the function to get the styled dataframe
highlighted_df = highlight_dataframe(df_test)

# display the styled dataframe
highlighted_df

In [ ]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'Variable': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Units': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5', 'unit6'],
    'Baseline': [10, 15, 12, 18, 20, 22],
    'e-Cooking': [12, 14, 13, 17, 18, 20],
    'Delta': [2, 1, 1, 1, 2, 2]
})

# create a function that takes in a dataframe and returns a styled dataframe
def highlight_dataframe(df_t1):
    # create a style object with green background for rows where Baseline > e-Cooking
    # and for rows where Baseline < e-Cooking in rows 2 and 3
    style = df.style.apply(lambda x: ['background: green' if x.Baseline > x['e-Cooking'] 
                                      else 'background: green' if x.name in [1, 2] and x.Baseline < x['e-Cooking']
                                      else '' for i in x], axis=1)
    # return the styled dataframe
    return style

# call the function to get the styled dataframe
highlighted_df = highlight_dataframe(df)

# display the styled dataframe
highlighted_df

In [19]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'Variable': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Units': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5', 'unit6'],
    'Baseline': [10, 15, 12, 18, 20, 22],
    'e-Cooking': [12, 14, 13, 17, 18, 20],
    'Delta': [2, 1, 1, 1, 2, 2]
})

def highlight_dataframe(df):
    # create a style object with green background for rows where Baseline > e-Cooking
    # and for rows where Baseline < e-Cooking in rows 2 and 3
    style = df.style.apply(lambda x: ['background: green' if x['Baseline'] > x['e-Cooking'] 
                                    else 'background: green' if x.name in [1, 2] and x['Baseline'] < x['e-Cooking']
                                    else '' for i in x], axis=1)
    # return the styled dataframe
    return style


# call the function to get the styled dataframe
highlighted_df = highlight_dataframe(df)

# display the styled dataframe
highlighted_df

In [20]:
import pandas as pd

data = {'type': ['-', 'png (2 burner)', 'electric induction (1 burner)', '-'],
        'life': ['years', 10, 10.00, 0.00],
        'thermal efficiency': ['%', 70.00, 80.00, 10.00],
        'capex': ['inr', 1100, 1100.00, 0.00],
        'overheads': ['inr/year', 110, 150.00, 40.00],
        'total cost': ['inr', 1210, 1250.00, 40.00]}

df = pd.DataFrame(data)

def highlight_rows(s):
    if s.name in [1,2]:
        return ['background-color: lightgreen' if s[2] < s[3] else '' for v in s]
    elif s.name != 0:
        return ['background-color: lightgreen' if s[3] < s[2] else '' for v in s]
    else:
        return ['' for v in s]

df.style.apply(highlight_rows, axis=1)